@mixin flexbox() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-align($align) {
    -ms-flex-align: $align;
    -webkit-align-items: $align;
    -webkit-box-align: $align;
    align-items: $align;
}

@mixin flexbox-direction($direction) {
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin flexbox-justify-content($justify) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
}