@import './globals';
@import './mixins/small';
@import './mixins/flexbox';

$fa-font-path: 'font-awesome/fonts';
@import './font-awesome/scss/font-awesome';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    background-color: #fff;
}

#app {
    width: 100%;
    height: 100%;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}

.content {
    display: table-row;
    height: 100%;
    background: #fff;
}

.content-body {
    display: table-cell;
    background: #fff;
}

// Wrapper around a simple page
.page-content {
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    height: 100%;
    @include small {
        width: 90%;
    }
}

.header, .footer {
    background: #fff;
}

.error {
    @include flexbox;
    @include flexbox-align(center);
    @include flexbox-direction(column);
    @include flexbox-justify-content(center);
    height: 100%;
}

.error-title {
    font-size: 100pt;
    text-align: center;
    width: 100%;
}

.error-message {
    font-size: 12pt;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: $primaryColor;
}

a:hover {
    text-decoration: underline;
}